*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10vh);
}

.addProduto{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 10;
    background-color: #30343F;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(10, 10%);
    border-radius: 16px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.6);
}

.grid-h1{
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
}

.grid-h1{
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
}

.grid-h1 h1{
    color: #FAFAFF;
    margin: auto;
}