*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10vh);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 10vh);
}