*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10vh);
    margin: 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 10vh);
}

.listaPostagens{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    width: 100%;
    overflow: scroll;
    text-align: center;
}

.card{
    margin-top: 5px;
    width: 360px;
    height: 12vh;
    border-radius: 8px;
    background-color: orange;
}

.card p, .card a{
    padding-top: 3px;
}

.menu a{
    width: 200px;
    height: 10vh;
}

.grid-addPostagem{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 50px;
    width: 150px;
    background-color: red;
}

.grid-addPostagem button{
    height: 100%; width: 100%;
}