*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10vh);
}

.grid-postagem{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    height: 100%;
    display:inline;
    background-color: rgb(128, 128, 128);
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 10vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 10vh);
}

.login{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.menu button{
    width: 200%;
    height: 100%;
}

.containerP{
    display:inline;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 207, 207);
}

.hr{
    margin-top: 20px;
    width: 100%;
    height: 2px;
    border: 2px solid white;
}

#comentario{
    width: 100%;
    height: 80px;
}

form button {
    width: 100%;
    height: 100%;
}

.grid-comentarios{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 12;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    height: 100%;
}

.comentarios{
    border: 2px solid black;
}