*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10vh);
}

.grid-postagem{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 9;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(10, 10vh);
}